name: CI

on:
  pull_request:
    branches:
      - "**"
  push:
    paths:
      - "**.json"
      - "**.yaml"
    branches:
      - "**"
      - "!renovate/**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: "lts/*"
          cache: yarn

      - run: yarn
      - run: npm i renovate -g

      - run: yarn test
