name: CI

on:
  pull_request:
    branches:
      - "**"
  push:
    paths:
      - "**.json"
      - "**.yaml"
    branches:
      - "**"
      - "!renovate/**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Setup node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: "lts/*"
          cache: yarn

      - run: yarn
      - run: npm i renovate -g

      - run: yarn test
